name: Update sources

on:
  schedule:
    - cron:  '25,55 * * * *'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install packages
      run: |
        pip install requests
        pip install packaging
        pip install github3.py
    - name: Run python scripts
      run: |
        export GITHUB_TOKEN="{{ secrets.GITHUB_TOKEN }}"
        python update.py
    - name: Commit files
      id: commit
      run: |
        git config --local user.email "76851962+QuarkSources-bot@users.noreply.github.com"
        git config --local user.name "QuarkSources-bot"
        git add --all
        if [ -z "$(git status --porcelain)" ]; then
           echo "::set-output name=push::false"
        else
           git commit -m "Auto-Update sources" -a
           echo "::set-output name=push::true"
        fi
      shell: bash
    - name: Push changes
      if: steps.commit.outputs.push == 'true'
      uses: ad-m/github-push-action@master
      with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
         branch: "main"
